<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <script type="text/javascript" src="/uset/JS/lib/jquery-3.2.1.js"> </script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- TODO: Maybe download a copy of this? -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <script type="text/javascript" src="/uset/JS/lib/jsplumb.js"> </script>
  <script type="text/javascript" src="/uset/JS/Array.js"> </script>
  <script type="text/javascript" src="/uset/JS/Random.js"> </script>
  <script type="text/javascript" src="/uset/JS/Model/Model.js"> </script>
  <script type="text/javascript" src="/uset/JS/Model/Uset.js"> </script>
  <script type="text/javascript" src="/uset/JS/AnswerTypes/AnswerType.js"></script>
  <script type="text/javascript" src="/uset/JS/AnswerTypes/AddAnswer.js"></script>
  <script type="text/javascript" src="/uset/JS/AnswerTypes/FindAnswer.js"></script>
  <script type="text/javascript" src="/uset/JS/AnswerTypes/RemoveAnswer.js"></script>
  <script type="text/javascript" src="/uset/JS/Questions/Instructions.js"> </script>
  <script type="text/javascript" src="/uset/JS/Questions/Question.js"> </script>
  <script type="text/javascript" src="/uset/JS/Questions/Add.js"> </script>
  <script type="text/javascript" src="/uset/JS/Questions/Find.js"> </script>
  <script type="text/javascript" src="/uset/JS/Questions/Remove.js"> </script>
  <script type="text/javascript" src="/uset/JS/QuestionTypes/QuestionType.js"> </script>
  <script type="text/javascript" src="/uset/JS/QuestionTypes/Operations.js"> </script>
  <script type="text/javascript" src="/uset/JS/Defs.js"> </script>
  <script type="text/javascript" src="/uset/JS/Exercise.js"> </script>
  <script type="text/javascript" src="/uset/JS/DOMEventHandler.js"> </script>
  <script type="text/javascript" src="/uset/JS/CustomEventHandler.js"> </script>
  <script type="text/javascript" src="/uset/JS/Element.js"> </script>
  <script type="text/javascript" src="/uset/JS/View.js"> </script>
  <script type="text/javascript" src="/uset/JS/Events.js"> </script>
  <script type="text/javascript" src="/uset/JS/Control.js"> </script>
  <script type="text/javascript" src="/uset/JS/main.js"> </script>

  <link href="/uset/Views/css/Uset.css" rel="stylesheet" type="text/css">

  <title> MY TITLE </title>
</head>

<body>

<div class="titlebox grid">
  <div class="row">
    <div class="col-12">
      <h1> Unordered Set </h1>
    </div>
  </div>

  <div class="row">

    <div class="col-3">
      <h3> Menu item </h3>
    </div>

    <div class="col-3">
      <h3> Menu item </h3>
    </div>

    <div class="col-3">
      <h3> Menu item </h3>
    </div>

    <div class="col-3">
      <h3> Menu item </h3>
    </div>

  </div>
</div>

<div class="interactiveVideo grid">
  <div class="row">
  </div>
  <!--
    NOTE: We don't have a Uset video, so I'm using List. Because, like, in the reality where I am Dr. Macova and I'm an evil lord bent on world domination
    and killing all humans, Unordered Sets are called USets, which means "You Sets", which means you pick the data structure. Because I'm a dark lord,
    I keep a list of all my targets - and people to kill - for a given day, and, therefore, I use lists.


    [TODO]
  -->
  <iframe class="interactiveVideoFrame" src="http://localhost:8080/list" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>

</div>


<!--     <div class="col-3 questionNavigation">
      <ol>
        <p> listlisltist </p>
        <li>
          <p> listitemlistimtem for every question and replace this text </p>
        </li>
      </ol>
    </div> -->


  <!--  make the uset an oval i think TODO https://stackoverflow.com/questions/12972145/how-to-give-a-div-oval-shape
          we actually have that for the divs. I'll make it into an actual class and give it to the div,
          probably have some extra resizing which we can add later. TODO CODE RAINBOW
  -->
  
<div class="exercise grid">
  <div class="row">
    <div class="col-12 questionFrame">
      <div class="questionBody">

        <div class="instructionsBody">
          <p> instructions </p>
        </div>

        <div class="parametersBody">
          <p> params </p>
        </div>

        <div class="modelBody flexCol borderized">
          <div class="modelMain col-12">
            <img id="trash" src="/uset/images/trash.jpg" class="trashCan"></img>
            <div id="model" class="modelDisplay col-10"></div>
          </div>
          <input type="text" class="modelEntry col-12 bottom" placeholder="add new element [ENTER VALUE]"></input>
        </div>
      </div>

      <div class="questionButtons"> <!-- TODO rename this class -->
        <div class="prevArrowDiv">
          <a id="prevArrow" class="arrow" href="" onclick="return false;">&larr;</a> <!-- TODO set up event handlers and probably rename this class from arrow-->
        </div>
        <div class="checkAndShowDiv">
          <div class="checkAnswerButton">
            <a id="checkBtn" class="button arrow" href="" onclick="return false;">Check Answer</a> <!-- TODO change this -->
          </div>
          <div class="showAnswerButton">
            <a id="showAnswerBtn" class="button arrow" href="" onclick="return false;">Show Answer</a> <!-- TODO change this -->
          </div>
        </div>
        <div class="nextArrowDiv">
          <a id="nextArrow" class="arrow" href="" onclick="return false;">&rarr;</a> <!-- TODO set up event handlers -->
        </div>
      </div>

    </div>


    <div id="template" class="hidden">
      <!-- For now, stuff inside here is a reference to the HTML that should be used ...
              Anything here will be copied later, inside some code, to make
              new HTML elements. -->
      <div class="element">
        <span class="verticallyCentered">
          TEXT
        </span>
      </div>
    </div>
  </div>
</div>

</body>

</html>
